# General Environment Variables
NODE_ENV="development"
PORT="3000"
LOG_LEVEL=info

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

# Rate Limiting Configuration
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# JWT Configuration
JWT_SECRET=...
JWT_ACCESS_EXPIRES_IN=...
JWT_REFRESH_EXPIRES_IN=...
JWT_ISSUER=...
JWT_AUDIENCE=...

# Prisma Configuration
# Documentation: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Documentation (Connection String): https://pris.ly/d/connection-strings
DATABASE_URL=...

# Arcjet Environment Variables
ARCJET_KEY=...
ARCJET_SECRET=...

# Auth.js Environment Variables
AUTH_SECRET=...

# Auth.js Provider Environment Variables
AUTH_GOOGLE_ID=...
AUTH_GOOGLE_SECRET=...

AUTH_GITHUB_ID=...
AUTH_GITHUB_SECRET=...
